<h1>Articles</h1>
<h1>.</h1>

<% @articles.each do |a| %>

<div class="article">
<p><strong><%= link_to a.title, article_path(a) %></strong>
<%= link_to '-', article_path(a),
method: :delete,
data: { confirm: "Delete article '#{a.title}'?" } %>
</p>

<p> <%= a.content %> </p>

</div>


<% end %>

